<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
    <div class="col-sm-6 portfolio-item">
      <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-check fa-4x"></i>
          </div>
        </div>
        <img src="img/icon_girl.svg" class="img-responsive" alt="">
      </a>
    </div>
    <div class="col-sm-6 portfolio-item">
      <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-check fa-4x"></i>
          </div>
        </div>
        <img src="img/icon_boy.svg" class="img-responsive" alt="">
      </a>
    </div>
  </div>
  </div>
</div>
