<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="circle-image" src="img/icon_girl.svg" />
      </div>
      <input class="form-control" type="message">
    </div>
  </div>
</section>
{{outlet}}
